{% extends 'stu_base.html' %}

{% block content %}

{% if user.is_authenticated and user.is_student %}

    <div class="row align-items-center">
        <div class="col-md-2"> </div>
        <div class="col-md-8 justify-content-center">
            <form action="own_project" method="POST">
                {% csrf_token %}
                <br/> <h2> Add your Own project Defination </h2>
                <hr/>
                <div class="form-group">
                    <dt class="control-label"> Project Title : </dt>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <dt class="control-label"> Project Description : </dt>
                    <input type="text" class="form-control" name="description"  >
                </div>
                <div class="form-group">
                    <dt class="control-label text-light"> Guide 1 : </dt>
                    <select name="guide_1" class="form-control">
                        <option val="1"> --Select faculty-- </option>
                        {% for faculty in faculties %}
                        <option class="form-control"> {{faculty}} </p>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <dt class="control-label text-light"> Guide 2 : </dt>
                    <select name="guide_2" class="form-control">
                        <option val="1"> --Select faculty-- </option>
                        {% for faculty in faculties %}
                        <option class="form-control"> {{faculty}} </p>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <dt class="control-label text-light"> Guide 3 : </dt>
                    <select name="guide_3" class="form-control">
                        <option val="1"> --Select faculty-- </option>
                        {% for faculty in faculties %}
                        <option class="form-control"> {{faculty}} </p>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Project" class="btn btn-primary">
                </div>

                <div class="form-group">
                    {% for message in messages %}
                    <h3 style="color: red;"> {{message}} </h3>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

{% else %}
    <h3> You are not logged in the system... </h3>
    <hr/>
    <h5> <a href="/" > Click here </a> to Login </h5>
{% endif %}

{% endblock %}