{% extends 'new_base.html' %} 

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="validate_team" method="POST">
            {% csrf_token %}
            <br/> <h2> CREATE YOUR TEAM </h2>
            <hr />
            <div class="form=group">
                <dt class="control-label text-light"> Member 1 : </dt>
                <input type="text" name="member1" class="form-control" required>
            </div>
            <div class="form=group">
                <dt class="control-label text-light"> Member 2 : </dt>
                <input type="text" name="member2" class="form-control" required>
            </div>
            <div class="form=group">
                <dt class="control-label text-light"> Member 3 : </dt>
                <input type="text" name="member3" class="form-control">
            </div>
            <br />

            <div class="form-group">
                <dt class="control-label text-light"> Preference 1 : </dt>
                <select id="project1" name="project1" class="form-control">
                    <option val="1"> --Select your project-- </option>
                    {% for project in projects %}
                    <option class="form-control"> {{project.title}} </p>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <dt class="control-label text-light"> Preference 2 : </dt>
                <select id="project2" name="project2" class="form-control">
                    <option val="1"> --Select your project-- </option>
                    {% for project in projects %}
                    <option class="form-control"> {{project.title}} </p>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <dt class="control-label text-light"> Preference 3 : </dt>
                <select id="project3" name="project3" class="form-control">
                    <option val="1"> --Select your project-- </option>
                    {% for project in projects %}
                    <option class="form-control"> {{project.title}} </p>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <dt class="control-label text-light"> Preference 4 : </dt>
                <select id="project4" name="project4" class="form-control">
                    <option val="1"> --Select your project-- </option>
                    {% for project in projects %}
                    <option class="form-control"> {{project.title}} </p>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <dt class="control-label text-light"> Preference 5 : </dt>
                <select id="project5" name="project5" class="form-control">
                    <option val="1"> --Select your project-- </option>
                    {% for project in projects %}
                    <option class="form-control"> {{project.title}} </p>
                    {% endfor %}
                </select>
            </div>
            <br>
            
            <div class="form-group">
                <input type='submit' name='create' class='btn btn-primary' value='Create Team' />
            </div>

            <div>
                {% for message in messages %}
                <h3 style="color: red;"> {{message}} </h3>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{% endblock %}