{% extends 'stu_base.html' %}
{% block content %}

{% if user.is_authenticated and user.is_student %}
    <div class="row align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 justify-content-center" style="opacity:0.9; background-color:#141414ee; border-radius:20px;">
            <br/> <br/> <h2 class="text-primary"> Team Data </h2>
            <hr/>

            <dl class="row">
                <dt class="col-sm-2 text-muted">
                    Member1 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.member1.user.get_full_name}} ({{team.member1.user.username}})
                </dd>
                <dt class="col-sm-2 text-muted">
                    Member2 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.member2.user.get_full_name}} ({{team.member2.user.username}})
                </dd>
                <dt class="col-sm-2 text-muted">
                    Member3 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.member3.user.get_full_name}} ({{team.member3.user.username}})
                </dd>
                <dt class="col-sm-2 text-muted">
                    Preference1 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.preference1.title}}
                </dd>
                <dt class="col-sm-2 text-muted">
                    Preference2 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.preference2.title}}
                </dd>
                <dt class="col-sm-2 text-muted">
                    Preference3 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.preference3.title}}
                </dd>
                <dt class="col-sm-2 text-muted">
                    Preference4 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.preference4.title}}
                </dd>
                <dt class="col-sm-2 text-muted">
                    Preference5 : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.preference5.title}}
                </dd>
                <dt class="col-sm-2 text-muted">
                    Highest CPI : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{team.highest_cpi}}
                </dd>
            </dl>
        </div>
    </div>
    {% if allocation %}
    <div class="row align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 justify-content-center" style="opacity:0.9; background-color:#141414ee; border-radius:20px;">
            <br/> <br/> <h2 class="text-primary"> Project Allocation </h2>
            <hr/>
            <dl class="row">
                <dt class="col-sm-3 text-muted">
                    Allocated project : 
                </dt>
                <dd class="col-sm-9 text-light"> 
                   {{allocation.project.title}}
                </dd>
                <dt class="col-sm-3 text-muted">
                    Guide : 
                </dt>
                <dd class="col-sm-9 text-light"> 
                   {{allocation.project.guide.user.username}}
                </dd>
            </dl>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <div class="card-footer">
            <a href="/my_assignments" class="btn btn-dark"> Back </a>
        </div>
        </div>
    </div>
    {% for message in messages %}
        <center><h3 style="color: red;"> {{message}} </h3></center>
    {% endfor %}
{% else %}
<h3> You are not logged in the system... </h3>
<hr/>
<h5> <a href="/" > Click here </a> to Login </h5>
{% endif %}

{% endblock %}