{% extends 'new_base.html' %}

{% block content %}

<div class="row align-items-center">
    <div class="col-md-2"> </div>
    <div class="col-md-8 justify-content-center">
        <h2 class="text-light"> Your own project has been successfully added to the database... </h2>
        <hr> <br/>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-md-2"> </div>
        <div class="col-md-8 bg-dark text-light justify-content-center">
            <h4> Choose faculties available from below as guide for your project... </h4>
            <hr>
            {% for faculty in faculties %}
                <dt style="padding-left: 10px;"> {{faculty.user.username}} :  
                <a style="padding-left: 5px;" href="mailto:" target="_blank" > {{faculty.user.email}} </a> </dt> <br>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-md-2"> </div>
    <div class="col-md-8 justify-content-center" style="padding-top: 20px;">
        <a href="/create_team" class="btn btn-primary"> Create Team </a>
    </div>
</div>
    

{% endblock %}