{% extends 'new_base.html' %}

{% block content %}
{% if user.is_authenticated and not user.is_student %}
    <div class="row align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 justify-content-center bg-primary">
            <br/> <br/> <h2> guide requests </h2>
            <hr/>
            {% for request in requests %}
            <dl class="row">
                <dt class="col-sm-2">
                    event Title : {{request.1.event.Title}}
                </dt>
                <dt class="col-sm-2">
                    team members : {{request.1.member1.user.username}},{{request.1.member2.user.username}},{{request.1.member3.user.username}}
                </dt>
            </dl>
            <div class="card-footer">
                <a href="/guide_request/{{request.0.id}}" class="btn btn-primary">view</a>
            </div>
            </form>
            {% endfor %}
            
        </div>
    </div>
{% endif %}
{% endblock %}