{% extends 'new_base.html' %}

{% block content %}
{% if user.is_authenticated and not user.is_student %}
    <div class="row align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 justify-content-center bg-primary">
            <br/> <br/> <h2> guide requests </h2>
            <hr/>
            {% for request in requests %}
            <form action="" method="POST">
                {% csrf_token %}
            <dl class="row">
                <dt class="col-sm-2">
                    event Title : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{request.1.event.Title}}
                </dd>
                <dt class="col-sm-2">
                    team members : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{request.1.member1.user.username}},{{request.1.member2.user.username}},{{request.1.member3.user.username}}
                </dd>
                <dt class="col-sm-2">
                    Project Title : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{request.0.project.title}}
                </dd>
                <dt class="col-sm-2">
                    Description : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{request.0.project.description}}
                </dd>
            </dl>
            <div class="card-footer">
                <input type="submit" class="btn btn-success" value="accept" name="accept">
                <input type="submit" class="btn btn-danger" value="reject" name="reject">
            </div>
            </form>
            {% endfor %}
            
        </div>
    </div>
{% endif %}
{% endblock %}