{% extends 'new_base.html' %}

{% block content %}
{% if user.is_authenticated and not user.is_student %}
    <div class="row align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 justify-content-center" style="opacity:0.9; background-color:#141414ee; border-radius:20px;">
            <br/> <br/> <h2 class="text-primary"> guide requests </h2>
            <hr/>
            {% for request in requests %}
            <dl class="row">
                <dt class="col-sm-2 text-muted">
                    event Title :
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{request.1.event.Title}}
                </dd>
                <dt class="col-sm-2 text-muted">
                    team members : 
                </dt>
                <dd class="col-sm-10 text-light"> 
                    {{request.1.member1.user.username}},{{request.1.member2.user.username}},{{request.1.member3.user.username}}
                </dd>
            </dl>
            <div class="card-footer">
                <a href="/guide_request/{{request.0.id}}" class="btn btn-success">view</a>
            </div>
            </form>
            {% endfor %}
            
        </div>
    </div>
{% endif %}
{% endblock %}