{% extends 'new_base.html' %}

{% block content %}

{% if user.is_authenticated and not user.is_student %}
    <div class="row align-items-center">
        <div class="col-md-2"> </div>
        <div class="col-md-8 justify-content-center" style="opacity:0.9; background-color:#141414ee; border-radius:20px;">
            <br> <br> <h2 class="text-primary"> guide request </h2> <hr>
            <form action="" method="POST">
                {% csrf_token %}
                <dl class="row">
                    <dt class="col-sm-2 text-muted"> Project title : </dt>
                    <input type="text" class="class-sm-10" name="project_title" value="{{guide_pref.project.title}}">
                </dl>
                <dl class="row">
                    <dt class="col-sm-2 text-muted">  Project Description : </dt>
                    <input type="text" class="class-sm-10" name="project_description" height="100" size="50" value="{{guide_pref.project.description}}">
                </dl>
                <div class="card-footer align-items-center">
                    <input type="submit" class="btn btn-success" value="Accept"> 
                    <a href="/guide_requests" class="btn btn-danger"> Ignore </a>
                </div>
            </form>

            <div> 
                {% for message in messages %}
                <h3 style="color: red;"> {{message}} </h3>
                {% endfor %}
            </div>

        </div>
    </div>

{% else %}
    <h3> You are not logged in the system... </h3>
    <hr/>
    <h5> <a href="/" > Click here </a> to Login </h5>
{% endif %}

{% endblock %}