{% extends 'new_base.html' %}

{% block content %}

<div class="row align-items-center">
    <div class="col-md-3"></div>
    <div class="col-md-6 align-items-center">
        <form class="form-group justify-content-center" style="margin-top: 50px;" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <dt name='event_title' class="control-label text-light"> Event Title :  </dt>
                <input type="text" name="event_title" class="form-control" placeholder="Event title"/>
            </div>
            <div class="form-group">
                <dt name='department' class="control-label text-light"> Department  :  </dt>
                <input type="text" name="department" class="form-control" placeholder="departmrnt"/>
            </div>
            <div class="form-group">
                <dt name='start_date' class="control-label text-light"> Start Date  :  </dt>
                <input type="date" name="start_date" class="form-control" placeholder="starting date"/>
            </div>
            <div class="form-group">
                <dt name='end_date' class="control-label text-light"> End Date :  </dt>
                <input type="date" name="end_date" class="form-control" placeholder="ending date"/>
            </div>
            <div class="form-group">
                <dt name='file' class="control-label text-light"> File :  </dt>
                <input type="file" name="file" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Create Assignment" class="btn btn-primary"/>
            </div>
        </form>
        <div>
            {% for message in messages %}
            <h3 style="color: darkred; margin-top:50px;">{{message}}</h3>
            {% endfor %} 
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}