{% extends 'new_base.html' %} 

{% block content %}

{% if user.is_authenticated and user.is_superuser %}
<div class="row align-items-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-center">
        <table class="table table-dark" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th><h4>Username</h4></th>
                    <th><h4>First Name</h4></th>
                    <th><h4>Last Name</h4></th>
                    <th><h4>Designation</h4></th>
                    <th><h4>Available</h4></th>
                    <th><h4>E-mail</h4></th>
                </tr>
            </thead>
            <tbody>
                {% for faculty in faculties %} 
                <tr>
                    <th><a href="/admin/EventGeneration/faculty/{{faculty.pk}}">{{faculty.user}}</a></th>
                    <th>{{faculty.user.first_name}}</th>
                    <th>{{faculty.user.last_name}}</th>
                    <th>{{faculty.designation}}</th>
                    {% if faculty.available %}
                    <th>Yes</th>
                    {% else %}
                    <th>No</th>
                    {% endif %}
                    <th>{{faculty.user.email}}</th>
                    <!-- <th><button>Edit</button></th>
                    <th><button>delete</button></th> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

{% else %}
    <h3> You are not logged in as ADMIN in the system... </h3>
    <hr/>
    <h5> <a href="/login" > Click here </a> to Login </h5>
{% endif %}

{% endblock%}