{% extends 'new_base.html' %} 

{% block content %}

{% if user.is_authenticated and user.is_superuser %}
<div class="row align-items-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-center">
        <table class="table table-dark" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th><h4>Project Title</h4></th>
                    <th><h4>Description</h4></th>
                    <th><h4>Guide</h4></th>
                    <th><h4>own definition</h4></th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %} 
                <tr>
                    <th><a href="/admin/ProjectAllocation/project/{{project.pk}}">{{project.title}}</a></th>
                    <th>{{project.description}}</th>
                    <th>{{project.guide.user.username}}</th>
                    <th>{{project.own_def}}</th>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

{% else %}
    <h3> You are not logged in the system... </h3>
    <hr/>
    <h5> <a href="/login" > Click here </a> to Login </h5>
{% endif %}

{% endblock%}