{% extends 'new_base.html' %} 

{% block content %}

{% if user.is_authenticated %}
<div class="row align-items-center">
    <div class="col-md-1"></div>
    <div class="col-md-10 justify-content-center">
        <table class="table table-dark" style="margin-top: 50px; opacity:0.9; border-radius:15px">
            <thead>
                <tr>
                    <th><h4>Event Title</h4></th>
                    <th><h4>Department</h4></th>
                    <th><h4>Starting Date</h4></th>
                    <th><h4>Ending Date</h4></th>
                    <th><h4>Event Head</h4></th>
                </tr>
            </thead>
            <tbody>
                {% for event in event_data %} 
                <tr>
                    {% if not user.is_student %}
                    <th><a href="/team_list"> <h5> {{event.Title}} </h5> </a></th>
                    {% else %}
                    <th> <a href="/assignment/{{event.id}}"> <h5> {{event.Title}} </h5> </a></th>
                    {% endif %}
                    <th>{{event.department}}</th>
                    <th>{{event.start_date}}</th>
                    <th>{{event.end_date}}</th>
                    <th>{{event.event_head.user.username}}</th>
                    <th> <a href="/assignment/{{event.id}}/team_list"> <h5> Teams </h5> </a></th>
                    <th> <a href="/assignment/{{event.id}}/allocation_list"> <h5> allocation </h5> </a></th>
                    <th><a href="/admin/EventGeneration/event/{{event.pk}}/delete">delete</a></th>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

{% else %}
    <h3> You are not logged in the system... </h3>
    <hr/>
    <h5> <a href="/login" > Click here </a> to Login </h5>
{% endif %}

{% endblock%}